input {
  keyboard {
    numlock
  }
  tablet {
    calibration-matrix 0.0 -1.0 1.0 1.0 0.0 0.0
    // rotate 90 degree clockwise since my tablet is shitting itself
  }
  // warp-mouse-to-focus
  // focus-follows-mouse max-scroll-amount="0%"
}

debug {
  honor-xdg-activation-with-invalid-serial
}

output "eDP-1" {
    mode "1600x900@60"
    scale 1
    transform "normal"
}

overview {
  workspace-shadow {
    off
  }

  zoom 0.5
}

cursor {
  xcursor-theme "ComixCursors-Black"
  xcursor-size 18
}

prefer-no-csd

layout {
    gaps 16
    center-focused-column "never"
    default-column-width { proportion 0.5; }
    background-color "transparent"

    focus-ring {
      off
      width 2
      active-color "#ebbcba"
    }

    border {
      off
      width 1
      active-color "#76946A"
    }

    insert-hint {
     color "#ebbcba70"
    }

    shadow {
        on
        softness 30
        spread 4
        offset x=3 y=3
        color "#00000090"
        draw-behind-window true
    }
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    draw-border-with-background false
}

spawn-at-startup "noctalia-shell"
// spawn-at-startup "wlsunset" "-l" "21.0285" "-L" "105.8542" "-t" "4000" "-T" "4500"

hotkey-overlay {
  skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
  workspace-switch {
    duration-ms 280
    curve "ease-out-expo"
  }

  horizontal-view-movement {
    duration-ms 280 
    curve "ease-out-expo"
  }

  window-movement {
    spring damping-ratio=0.65 stiffness=300 epsilon=0.0001
  }

  overview-open-close {
    spring damping-ratio=0.65 stiffness=300 epsilon=0.0001
  }

  screenshot-ui-open {
    duration-ms 500
  }

  window-open {
    duration-ms 400
    curve "cubic-bezier" 0.68 -0.55 0.265 1.55
  }

  window-close {
    duration-ms 500
    curve "cubic-bezier" 0.68 -0.55 0.265 1.55
  }
}

recent-windows {
  highlight {
    padding 30
    corner-radius 10
    active-color "#403d52ff"
    urgent-color "#ebbcbaff"
  }

  previews {
    max-height 400
    max-scale 0.6
  }
}

window-rule {
  match app-id=r#"Windscribe$"#
  match app-id=r#"xdg-desktop-portal-gtk$"#
  match app-id=r#"org.pulseaudio.pavucontrol$"#
  open-floating true
}

window-rule {
  match app-id=r#"org.pulseaudio.pavucontrol$"#

  min-width 890
  min-height 520
}

layer-rule {
  match namespace="^noctalia-wallpaper"
  place-within-backdrop true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}

binds {
    Alt+Space { spawn-sh "pkill fcitx5 || fcitx5"; }
    Mod+Return { spawn "ghostty"; }
    Mod+Space { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Mod+E { spawn "nautilus"; }
    Mod+W { spawn "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }
    Mod+V { spawn "noctalia-shell" "ipc" "call" "launcher" "clipboard"; }
    Mod+T { spawn "noctalia-shell" "ipc" "call" "launcher" "emoji"; }
    Mod+G { spawn "noctalia-shell" "ipc" "call" "wallpaper" "toggle"; }
    Mod+R { spawn "recorder.sh"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    Mod+H { focus-column-left; }
    Mod+J { focus-workspace-down; }
    Mod+K { focus-workspace-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-column-to-workspace-down; }
    Mod+Shift+K { move-column-to-workspace-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { focus-column-right; }
    Mod+Shift+WheelScrollUp cooldown-ms=150 { focus-column-left; }

    Mod+Tab { focus-workspace-previous; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+S       { toggle-window-floating; }
    Mod+Shift+S { switch-focus-between-floating-and-tiling; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+E { quit; }
}

